.landing {
  margin-top: 50px;
}

.outer {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 960px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  border-bottom: 1px solid #000;
  margin-bottom: 100px;
  margin-top: 50px;
}

.del-icon {
  width: 10%;
  height: auto
}


.main {
  display: flex;
  justify-content: center;
  margin: auto;
}

.big-button {
  margin: auto;
  height: 100px;
  width: 200px;
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: column-reverse;
}

.add-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 270px;
}

.c {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.c2 {
text-align: right;
margin-top: 5px;
 
}

.exp {
  display: flex;
}


.hepsiLogo {
  height: 100px;
  cursor: pointer;
}

.linkCard {
  border: none;
  transition: background-color 0.25s ease;
}

.linkCard:hover {
  background-color: #eeeeee;
}

.linkCard:hover .delete {
  opacity: 1;
}

.voteBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 15px 15px;
  background-color: #ececec;
  border: #c2c2c2 2px solid;
  border-radius: 10px;
  margin-right: 20px;
  width: 88px;
}

.voteCount {
  font-size: 30px;
  font-weight: bolder;
}

.voteLabel {
  font-size: 15px;
}

.name {
  font-size: 23px;
  font-weight: bolder;
}

.link {
  font-size: 15px;
  color: #c2c2c2;
}

.returnLink {
  text-decoration: none;
  color: #000;
}


.action {
  font-size: 13px;
  padding: 3px 5px;
  text-decoration: none;
  color: #767676;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: #e3e3e3 5px solid;
}

.delete {
  background-color: #d50404;
  color: #fff;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -7px;
  top: -7px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s ease;
}
